button{
    position: absolute;
    z-index: 1;
    left: 40px;
  }
  
  img {
    position: relative;
  }
  
  button span {
      height: 20px;
      width: 20px;
    color:revert; 
    font-size: 72px;
  }